[submodule "modules/developer"]
	path = modules/developer
	url = git://github.com/edrex/puppet-developer.git
[submodule "modules/postgresql"]
	path = modules/postgresql
	url = http://github.com/camptocamp/puppet-postgresql.git
[submodule "modules/postgis"]
	path = modules/postgis
	url = http://github.com/camptocamp/puppet-postgis.git
[submodule "modules/common"]
	path = modules/common
	url = http://github.com/camptocamp/puppet-common.git
[submodule "modules/sudo"]
	path = modules/sudo
	url = git@github.com:edrex/puppet-sudo.git
[submodule "modules/python"]
	path = modules/python
	url = git@github.com:edrex/puppet-python.git 
[submodule "modules/nginx"]
	path = modules/nginx
	url = git@github.com:edrex/puppet-nginx.git
[submodule "modules/upstart"]
	path = modules/upstart
	url = git@github.com:edrex/puppet-upstart.git
